@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 5%);
    border-color: darken($border, 7%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

/* Menu full screen */

.flex-center
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center

*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
  font-weight: 300

a
  color: inherit
  text-decoration: none
  &:visited, &:hover, &:active
    color: inherit
    text-decoration: none

h1

  font-weight: 400
  font-size: 3em
  text-align: center

.outer-menu
  position: fixed
  top: 5vh
  left: 0
  z-index: 20000
  .checkbox-toggle
    position: absolute
    top: 0
    left: 0
    z-index: 15000
    cursor: pointer
    width: 60px
    height: 60px
    opacity: 0
    &:checked
      + .hamburger > div
        -webkit-transform: rotate(135deg)
        transform: rotate(135deg)
        &:before
          top: 0
          -webkit-transform: rotate(90deg)
          transform: rotate(90deg)
        &:after
          top: 0
          -webkit-transform: rotate(90deg)
          transform: rotate(90deg)
          opacity: 0
      ~ .menu
        pointer-events: auto
        visibility: visible
        > div
          -webkit-transform: scale(1)
          transform: scale(1)
          -webkit-transition-duration: .75s
          transition-duration: .75s
          > div
            opacity: 1
            -webkit-transition: opacity 0.4s ease 0.4s
            transition: opacity 0.4s ease 0.4s
    &:hover + .hamburger
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1)
    &:checked:hover + .hamburger > div
      -webkit-transform: rotate(225deg)
      transform: rotate(225deg)
  .hamburger
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 60px
    height: 60px
    padding: .5em 1em
    background: rgba(0, 0, 0, 0.50)
    border-radius: 0 0.12em 0.12em 0
    cursor: pointer
    -webkit-transition: box-shadow 0.4s ease
    transition: box-shadow 0.4s ease
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    > div
      position: relative
      -webkit-box-flex: 0
      -webkit-flex: none
      -ms-flex: none
      flex: none
      width: 100%
      height: 2px
      background: #fefefe
      -webkit-transition: all 0.4s ease
      transition: all 0.4s ease
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -webkit-align-items: center
      -ms-flex-align: center
      align-items: center
      -webkit-box-pack: center
      -webkit-justify-content: center
      -ms-flex-pack: center
      justify-content: center
      &:before
        content: ''
        position: absolute
        z-index: 1
        top: -10px
        left: 0
        width: 100%
        height: 2px
        background: inherit
        -webkit-transition: all 0.4s ease
        transition: all 0.4s ease
      &:after
        content: ''
        position: absolute
        z-index: 1
        top: -10px
        left: 0
        width: 100%
        height: 2px
        background: inherit
        -webkit-transition: all 0.4s ease
        transition: all 0.4s ease
        top: 10px
  .menu
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    visibility: hidden
    overflow: hidden
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    outline: 1px solid transparent
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    > div
      width: 200vw
      height: 200vw
      color: #fefefe
      background: rgba(240, 42, 0, 0.97)
      border-radius: 50%
      -webkit-transition: all 0.4s ease
      transition: all 0.4s ease
      -webkit-box-flex: 0
      -webkit-flex: none
      -ms-flex: none
      flex: none
      -webkit-transform: scale(0)
      transform: scale(0)
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      overflow: hidden
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -webkit-align-items: center
      -ms-flex-align: center
      align-items: center
      -webkit-box-pack: center
      -webkit-justify-content: center
      -ms-flex-pack: center
      justify-content: center
      > div
        text-align: center
        max-width: 90vw
        max-height: 100vh
        opacity: 0
        -webkit-transition: opacity 0.4s ease
        transition: opacity 0.4s ease
        overflow-y: auto
        -webkit-box-flex: 0
        -webkit-flex: none
        -ms-flex: none
        flex: none
        display: -webkit-box
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -webkit-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        > ul
          list-style: none
          padding: 0 1em
          margin: 0
          display: block
          max-height: 100vh
          > li
            padding: 0
            margin: 1em
            font-size: 24px
            display: block
            > a
              position: relative
              display: inline
              cursor: pointer
              -webkit-transition: color 0.4s ease
              transition: color 0.4s ease
              &:hover
                color: #e5e5e5
                &:after
                  width: 100%
              &:after
                content: ''
                position: absolute
                z-index: 1
                bottom: -0.15em
                left: 0
                width: 0
                height: 2px
                background: #e5e5e5
                -webkit-transition: width 0.4s ease
                transition: width 0.4s ease
